.fine-doc-setting {
  .left-menu h3 {
    line-height: 40px;
    border-bottom: 1px solid #ddd;
    padding-left: 10px;
  }
  .project-logo {
    border-radius: 50%;
    color: #fff;
    background-color: #2395f1;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}