@charset "UTF-8";
.fine-api-doc {
  background-color: #ffffff;
}
.fine-api-doc .group {
  background: #eee;
  height: 64px;
  line-height: 64px;
  border-radius: 4px;
  text-align: right;
  padding: 0 10px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  color: rgba(39, 56, 72, 0.85);
  font-weight: 500;
}

.fine-api-doc .group h2 {
  font-size: 26px;
  padding-right: 10px;
}